

body, html {
  color: #fff;
  font-family: Cloister Black Light", Arial; 
  margin: 0;
  padding: 0;
  background-color: transparent; 
}

body {
  font-size: 1.2em;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://wallpapercave.com/wp/wp2031051.jpg) center no-repeat fixed;
  background-size: cover;
}

.tex-box {
  background-color: rgba(230, 126, 34,0.8);
  border-radius: 20px;
  margin: 2em auto;
  padding: 20px;
  width: 90%;
}

h1 {
  margin:0;
  padding: 0;
  font-size: 2.8em;
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 5px;
  line-height: 1em;
  font-weight: bold;
}

p {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.2em;
}

hr {
  width: 70%;
  margin: 10px auto;
}

.container {
  background-color: rgba(22, 160, 133,0.7);
  border-radius: 20px;
  margin: auto;
  width: 90%;
  padding: 1em;
}

#survey-form {
  margin: 0 auto;
  width: 80%;
  padding: 10px;
}

labels {
  display: inline-block;
  text-align: right;
  width: 40%;
  vertical-align: top;
  margin-top: 20px;
}


.input-tab {
  display: inline-block;
  text-align: left;
  width: 50%;
  margin-left: 10px;
}

.input-field {
  display: inline-block;
  width: 100%;
  padding: 5px;
  margin: 10px 0 0 10px;
  border: 1px solid #e67e22;
  border-radius: 4px;
  font-family: inherit;
  font-size: 15px;
  font-weight: bold;
}

input {
  margin: 7px;
}

#dropdown {
  width: 100%;
  padding: 5px;
  margin: 20px 0 10px 10px;
  border: 1px solid #e67e22;
  border-radius: 3px;
  font-family: inherit;
  font-size: 15px;
}

btn {
  width: 100%;
  text-align: center;
  margin: 20px;
}

button {
  background-color: #e67e22;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  font-weight: bold;
  font-family: inherit;
  padding: 10px 15px;
  border: 1px solid;
}

button:hover {
  background-color: #bf6516;
}

footer {
  text-align: center;
  font-size: 17px;
  margin: 20px;
}

@media only screen nad (max-width: 768px) {
  body {
    background: linear-gradient(rgba (0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://wallpapercave.com/wp/wp2031051.jpg) center no-repeat fixed;
    background-size: cover;
  }
  
  h1{
    font-size: 2em;
  }
  .labels {
    width: 10%;
    text-align: left;
  }
  .input-tab {
    width: 100%;
    float: left;
    margin-left: -10px;
  }
  .input-field {
    width: 100%;
  }
  select {
    width: 100%;
  }
  .btn {
    width: 100%;
    margin: auto;
  }
  
}